/* Barra de navegacion */

.navbar {
    padding: 0.2rem;
    margin-right: 140px;
    margin-top: 20px;
    background-color: transparent;
    font-family: 'Open Sans', sans-serif;
}

.navbar-collapse {
    align-items: center;
    justify-content: space-between;
}

.navbar-brand {
    font-family: 'Orbitron', sans-serif;
    font-size: 30px;
    color: white;
    text-shadow: 4px 4px 7px black;
}

.navbar-brand:hover {
    color: #ff0066;
    text-shadow: none;
}

.navbar-nav .nav-item {
    font-size: 19px;
    margin: 10px 10px;
}

.navbar-nav .nav-item .nav-link {
    font-weight:400;
    color: white;
    text-shadow: 3px 3px 6px black;
}

.navbar-nav .nav-item a:hover {
    color: #ff0066;
    text-decoration:underline;
    text-shadow: none;
}

.navbar-nav .inicio {
    color: #ff0066;
    text-decoration: none;
}

.galeria {
    display: flex;
    width: 1400px;
    height: 630px;
}

.galeria img {
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
}

.galeria img:hover {
    cursor: crosshair;
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
}